<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hello,{{username}}!</h5>
    <a class="btn btn btn-primary" role="button" (click)="logout()">Logout</a>
  </div>
</div>
<app-member></app-member>


<!-- <div class="row">
  <div class="col-12.col-md-8">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">View Member Table</span>
      </div>
      <div class="card-action">
        <a [routerLink]="['/member']">This is a link</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12.col-md-8">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Report</span>
      </div>
      <div class="card-action">
        <a [routerLink]="['/report']">This is a link</a>
      </div>
    </div>
  </div>
</div>
 -->
