<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hello,{{username}}!</h5>
    <a class="btn btn btn-primary" role="button" (click)="logout()">Logout</a>
  </div>
</div>

<h1>Member List
  <a [routerLink]="['/member-create']" class="waves-effect waves-light btn" (click)="member()">Create</a>
</h1>

<table class="highlight"> 
  <thead>
    <tr>
      <th>Room number</th>
      <th>Member name</th>
      <th>Show Detail</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let member of members">
      <td>{{member.room}}</td>
      <td>{{member.name}}</td>
      <td><a [routerLink]="['/member-details',member._id]"> Show Detail</a></td>
    </tr>
  </tbody>
</table>