<div class="row">
  <form [formGroup]="addMemberForm" class="col s12">
    <div class="form-group">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="room" id="room" type="text" class="form-control">
          <label for="room">Room</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="membername" id="membername" type="text" class="form-control">
          <label for="Membername">Member Name</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="email" id="email" type="text" class="form-control">
          <label for="email">Email</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="tel" id="tel" type="text" class="form-control">
          <label for="tel">Telephone</label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="password" id="password" type="password" class="form-control">
          <label for="password">Password</label>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <button class="btn waves-effect waves-light" type="button" (click)="memberadd()">Add

      </button>

    </div>
  </form>
</div>