<div class="row" [el-loading]="loadingHomepage" [text]="'Loading'">

<el-form [formGroup]="loginForm" label-width="100px"  el-class="form-demo">
<h5 class="title">System login</h5>
  <el-form-item label="Username">
    <el-input formControlName="username"></el-input>
  </el-form-item>

  <el-form-item label="Password">
    <el-input formControlName="password" native-type="password"></el-input>
  </el-form-item>

  <el-form-item>
<el-button type="primary" (click)="login()" [loading]="loading" style="width:100%,center" [el-loading]="loading"
[full-screen]="true" [text]="'Loading'">Login</el-button>
  </el-form-item>
<el-form-item>
<el-button (click)="moveToRegister()" type="primary" style="width:100%,center">Register</el-button>
  </el-form-item>
</el-form>

<div class="box-card" #card>
  <el-dialog [title]="'Register'" [(visible)]="showRegisterForm">
<el-form [formGroup]="registerForm" label-width="100px" [show-icon]="true" [show-message]="true" el-class="form-demo">

<el-form-item label="Username">
<el-input formControlName="username"></el-input>
  </el-form-item>

<el-form-item label="Confirm Password" >
<el-input formControlName="cpass" native-type="password"></el-input>
</el-form-item>

<el-form-item label="Password">
    <el-input formControlName="password" native-type="password"></el-input>
  </el-form-item>

  <el-form-item>
<el-button type="primary" (click)="register()">Register</el-button>
  </el-form-item>
<el-form-item>
<el-button type="primary" (click)="resetForm()">Reset</el-button>
  </el-form-item>
</el-form>
  </el-dialog>
</div>
</div>
