
<div class="row">
  <form [formGroup]="addMemberForm" class="col s12" (ngSubmit)="addMemberForm()">
   
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="room" name="room" type="text" class="form-control">
          <label for="room">Room</label>
        </div>
      </div>
    

   
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="membername" name="membername" type="text" class="form-control">
          <label for="Membername">Member Name</label>
        </div>
      </div>
    

   
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="email" name="email" type="text" class="form-control">
          <label for="email">Email</label>
        </div>
      </div>
    

    
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="tel" name="tel" type="text" class="form-control">
          <label for="tel">Telephone</label>
        </div>
      </div>
  


   
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="password" name="password" type="password" class="form-control">
          <label for="password">Password</label>
        </div>
      </div>
   

    
      <div class="row">
      <button class="btn waves-effect waves-light" type="button" (click)="memberadd()">Add
      </button>
      
      <button class="btn waves-effect waves-light" type="button" [routerLink]="['/member']">Cancle
      </button>
      </div>


    
  </form>
</div>