<div class="container">
  <h1>Member List
  <a [routerLink]="['/memberadd']" class="btn btn-default btn-lg">
      Add Member
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Room</th>
        <th>MemberName</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{ member._id}}</td>
        <td>{{ member.room }}</td>
        <td>{{ member.membername}}</td>
        <td>{{ member.email}}</td>
        <td>{{ member.tel}}</td>
        <td><a class="waves-effect waves-teal btn-flat">Update</a>
        <a class="waves-effect waves-teal btn-flat">Delete</a></td>
      
      </tr>
    </tbody>
  </table>
</div>
