<h1>Create new Member</h1>

  <form class="col s12" (ngSubmit)="saveMember()" #memberForm="ngForm">

      <div class="form-group">
       <div class="input-field col s6">
        <input  id="room" type="text" class="form-control" [(ngModel)]="member.room" name="room" required>
        <label for="room">Room Number</label>
       </div>
      </div>

      <div class="form-group">
       <div class="input-field col s6">
        <input id="name" type="text" class="form-control"[(ngModel)]="member.name" name="name" required>
        <label for="name">Member Name</label>
       </div>
      </div>
   
    <div class="form-group">
     <div class="input-field col s6">
      <input id="tel" type="tel" class="form-control"[(ngModel)]="member.tel" name="tel" required>
      <label for="icon_telephone">Telephone</label>
     </div>
    </div>
    
    <div class="form-group">
      <div class="input-field col s6">
        <input id="email" type="email" class="form-control"[(ngModel)]="member.email" name="email" required>
        <label for="email">Email</label>
      </div>
    </div>
    
    <div class="form-group">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!memberForm.form.valid">Save</button>
    </div>
  </form>
